
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-bg-light: #e1e2e272;

$color-tertiary-dark: #713814;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #f7f7f7;

$color-grey-dark: #2a2a2a;
$color-white: #fff;
$color-black: #000;

$color-grey-cv: #263546;

$color-orange: #f2d375;
$color-orange-light: #ffdfa7;
$color-orange-dark: #feb22e;


$color-orange-cv-2: #f2d375;

$sm: 576px;
$md: 768px;
$lg: 992px;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// FONT
$default-font-size: 1.6rem;
