.fadeUp {
  animation-name: fadeUp;
  animation-delay: 0.5s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}



.rotateBg {
  animation: rotateBg 7s infinite;
}

.hidden {
  opacity: 0;
  transition: 0.3s ease-in;
}

.unhide {
  opacity: 1;
  transition: 0.3s ease-in;
}

@keyframes rotateBg {
  0% {
    transform: rotate(-45deg)
  }

  100% {
    transform: rotate(45deg)
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}


// title frontend animation"
     
@keyframes textAnim {
  0% {
    font-size: 70px;
    fill: #713814;
  }

  10% {
    font-size: 90px;
    fill: red;
  }

  40% {
    font-size: 60px;
    fill: #713814;
  }

  100% {
    font-size: 70px;
    fill: #713814;  
  }
}

@keyframes textAnimPhone {
  0% {
    font-size: 40px;
    fill: #713814;
  }

  10% {
    font-size: 60px;
    fill: red;
  }

  40% {
    font-size: 30px;
    fill: #713814;
  }

  100% {
    font-size: 40px;
    fill: #713814;
  }
}


@-webkit-keyframes textAnim {
  0% {
    font-size: 0px;
    fill: white;
  }

  10% {
    font-size: 100px;
    fill: red;
  }

  40% {
    font-size: 70px;
    fill: orange;
  }

  100% {
    font-size: 80px;
    fill: white;
  }
}

text tspan {
  font-family: Raleway;
  font-weight: 900;
  font-size: 5px;
  animation: textAnim 2s ease forwards;
  -webkit-animation: textAnim 2s ease forwards;
  @include respond(phone) {
    animation: textAnimPhone 2s ease forwards;
  }
}

#l1 {
  animation-delay: 3.0s;
  -webkit-animation-delay: 3.0s;
}

#l2 {
  animation-delay: 3.1s;
  -webkit-animation-delay: 3.1s;
}

#l3 {
  animation-delay: 3.2s;
  -webkit-animation-delay: 3.2s;
}

#l4 {
  animation-delay: 3.3s;
  -webkit-animation-delay: 3.3s;
}

#l5 {
  animation-delay: 3.4s;
  -webkit-animation-delay: 3.4s;
}

#l6 {
  animation-delay: 3.5s;
  -webkit-animation-delay: 3.5s;
}

#l7 {
  animation-delay: 3.6s;
  -webkit-animation-delay: 3.6s;
}

#l8 {
  animation-delay: 3.7s;
  -webkit-animation-delay: 3.7s;
}



// Name animation

                                                                     
// .text {
//   text-align: center;
//   color: #032f86;
//   font-family: sans-serif, helvetica;
//   margin-top: 70px;
//   font-size: 250%;
//   font-weight: 400;
//   text-shadow: 2px 1px 2px #eee;
// }

.fly-in {
  display: flex;
  justify-content: center;
  list-style: none;
}

.fly-in li {
  display: inline-block;
  margin-right: 5px;
  font-family: sans-serif, helvetica;
  font-weight: 300;
  font-size: 38px;
  color: #032f86;
  opacity: 1;
  transition: all 1.8s cubic-bezier(0.6, -.005, 0.32, 1.75);

  @media (min-width: $md) {
    margin-right: 25px;
    font-size: 58px;
}
}

.fly-in.hidden li {
  opacity: 0;
}

.fly-in.hidden li:nth-child(1) {
  transform: translateX(150px) translateY(-170px);
}

.fly-in.hidden li:nth-child(2) {
  transform: translateX(-210px) translateY(170px);
}

.fly-in.hidden li:nth-child(3) {
  transform: translateX(20px) translateY(-100px);
}

.fly-in.hidden li:nth-child(4) {
  transform: translateX(-100px) translateY(-20px);
}

.fly-in.hidden li:nth-child(5) {
  transform: translateX(-70px) translateY(-200px);
}

.fly-in.hidden li:nth-child(6) {
  transform: translateX(200px) translateY(70px);
}

.fly-in.hidden li:nth-child(7) {
  transform: translateX(30px) translateY(200px);
}

.fly-in.hidden li:nth-child(8) {
  transform: translateX(30px) translateY(-100px);
}

.fly-in.hidden li:nth-child(9) {
  transform: translateX(100px) translateY(-170px);
}

.fly-in.hidden li:nth-child(10) {
  transform: translateX(50px) translateY(50px);
}


// Neon Developer animation

.neon {
   font-size: 3rem;
   color: white;
   font-family: 'Merienda', cursive;
   animation-name: glow, fadeUpSlow;
   animation-duration: 1s, 6s;
   animation-iteration-count: infinite, 1;
   animation-direction: alternate;
 }

 @keyframes glow {
   from {
     text-shadow: 0px 0px 5px #fff, 0px 0px 5px #614ad3;
   }

   to {
     text-shadow: 0px 0px 20px #fff, 0px 0px 20px #614ad3;
   }
 }

 @keyframes fadeUpSlow {
   0% {
     opacity: 0;
   }

   75% {
     opacity: 0;
   }

   100% {
     opacity: 1;
   }
 }


//  Download CV

@import url(https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap);

@-webkit-keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  to {
    transform: translateZ(-2px) translateY(5px);
  }

  40% {
    transform: rotateY(180deg) translateZ(-2px) translateY(-35px);
  }

  60% {
    transform: translateZ(-2px) translateY(-25px);
  }
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  to {
    transform: translateZ(-2px) translateY(5px);
  }

  40% {
    transform: rotateY(180deg) translateZ(-2px) translateY(-35px);
  }

  60% {
    transform: translateZ(-2px) translateY(-25px);
  }
}



.download-text {
  font-size: 2rem;
  line-height: 80%;
  transform: rotateX(0) rotateY(-25deg);
  text-transform: uppercase;
  width: 500px;
  text-align: center;
  color: #b9dfff;
  font-family: "Zefani";
  margin: 7rem auto 2rem auto;
  position: relative;
  // padding: 2rem 0;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff, 0 0 35px #228dff, 0 0 40px #228dff;
  animation-name: fadeUpSlow;
  animation-duration: 2s;
  animation-iteration-count: 1;

    & a {
        color: #fff;

        &:hover,
        &:active {
          color: #130378 !important;
        }
    }
    
}


.scroll-more {
  color: white;
  text-align: center;
  width: 450px;
  position: absolute;
  bottom: 4rem;
  left: calc(50% - 225px);
  margin: 0 auto;
  font-size: 5rem;
  opacity: 1;
  transition: opacity 0.3s ease;
  font-family: monospace;
  pointer-events: none;
  z-index: -1;
  transform-origin: center;
  -webkit-animation: bounce 3s cubic-bezier(0.37, 0, 0.21, 1.02) infinite, fonts 5s linear infinite;
  animation: bounce 3s cubic-bezier(0.37, 0, 0.21, 1.02) infinite, fonts 5s linear infinite;

  @include respond(phone) {
      bottom: 4.5rem;
    }
}


// Animated path I make websites



.pull-in {
  font-size: 4rem;
  color: #130378;
  animation-name: fadeUpSlow;
  animation-duration: 8s;

    @include respond(phone) {
      font-size: 3rem;
    }
  
    .char {
      line-height: 1;
      transform-origin: center bottom;
      animation-name: pull-char;
      animation-timing-function: cubic-bezier(.77, .02, .11, .97);
      animation-iteration-count: 11;
      animation-fill-mode: forwards;
      animation-delay: calc(0.05s * var(--char-index));
      animation-duration: calc(0.2s + (0.03s * var(--char-total)));
  }
}

@keyframes pull-char {
  20% {
    transition: transform 1s cubic-bezier(.8, 0, .2, 1);
    transition-delay: calc(0.2s * (1 - var(--distance-percent)));
  }

  70% {
    transition-delay: calc(0.2s * var(--distance-percent));
    transform: scale(0.5) translateX(calc(-1.5em * var(--distance-sine)));
  }
}


/* ---------------------------------- */

// Bounce animation

.bounce-it {
    color: #130378;
    font-size: 3rem;
    animation-name: fadeUpSlow;
    animation-duration: 10s;
  .char {
    line-height: 1;
    transform-origin: center bottom;
    animation-name: bounce-char;
    animation-timing-function: cubic-bezier(.77, .02, .11, .97);
    animation-iteration-count: 17;
    animation-fill-mode: forwards;
    animation-delay: calc(0.05s * var(--char-index));
    animation-duration: calc(0.2s + (0.03s * var(--char-total)));
    
  }

  &:hover .char {

    animation-name: bounce-char;
  }
}

@keyframes bounce-end {
  to {
    transform: translateY(0%) scale(1);
  }
}

@keyframes bounce-char {
  20% {
    transform: translateY(0%) scale(1.3, .8);
  }

  70% {
    transform: translateY(-40%) scale(.8, 1.2);
  }
}


// underline animation

.u-line-grow {
  animation: grow 4s ease-in;
}

@keyframes grow {
  0% {
    width: 0%;
    opacity:0;
  }

  60% {
      width: 0%;
      opacity: 0;
    }

  100% {
    width: 100%;
    opacity: 1;
  }
}

.u-line-grow10 {
  animation: grow10 10s ease-in;
}

@keyframes grow10 {
  0% {
    width: 0%;
    opacity: 0;
  }

  80% {
    width: 0%;
    opacity: 0;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

// skills scale animation

.skillFade {
  animation-name: fadeUpSlow;
    animation-duration: 12s;
}

.scale {
  animation-name: scaleUp;
  animation-duration: 10s;
}

@keyframes scaleUp {
  0% {
    transform: scale 1;
  }

  5% {
    transform: scale 1.3;
  }

  10% {
    transform: scale 1;
  }
}


