.fadeUp {
  animation-name: fadeUp;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

.rotateBg {
  animation: rotateBg 7s infinite;
}

.hidden {
  opacity: 0;
  transition: 0.3s ease-in;
}

.unhide {
  opacity: 1;
  transition: 0.3s ease-in;
}

@keyframes rotateBg {
  0% {
    transform: rotate(-45deg)
  }

  100% {
    transform: rotate(45deg)
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}


// title text-rotateanimation"
     
@keyframes textAnim {
  0% {
    font-size: 70px;
    fill: white;
  }

  10% {
    font-size: 90px;
    fill: red;
  }

  40% {
    font-size: 60px;
    fill: white;
  }

  100% {
    font-size: 70px;
    fill: white;
  }
}

@-webkit-keyframes textAnim {
  0% {
    font-size: 80px;
    fill: white;
  }

  10% {
    font-size: 100px;
    fill: red;
  }

  40% {
    font-size: 70px;
    fill: orange;
  }

  100% {
    font-size: 80px;
    fill: white;
  }
}

text tspan {
  font-family: Helvetica, Arial;
  font-weight: 900;
  animation: textAnim 2s ease infinite;
  -webkit-animation: textAnim 2s ease infinite;
}


#l2 {
  animation-delay: .1s;
  -webkit-animation-delay: .1s;
}

#l3 {
  animation-delay: .2s;
  -webkit-animation-delay: .2s;
}

#l4 {
  animation-delay: .3s;
  -webkit-animation-delay: .3s;
}

#l5 {
  animation-delay: .4s;
  -webkit-animation-delay: .4s;
}

#l6 {
  animation-delay: .5s;
  -webkit-animation-delay: .5s;
}

#l7 {
  animation-delay: .6s;
  -webkit-animation-delay: .6s;
}

#l8 {
  animation-delay: .7s;
  -webkit-animation-delay: .7s;
}

#l9 {
  animation-delay: .8s;
  -webkit-animation-delay: .8s;
}
#l10 {
  animation-delay: .9s;
  -webkit-animation-delay: .9s;
}

#l11 {
  animation-delay: .10s;
  -webkit-animation-delay: .10s;
}
#l12 {
  animation-delay: .11s;
  -webkit-animation-delay: .11s;
}

#l13 {
  animation-delay: .12s;
  -webkit-animation-delay: .12s;
}
#l14 {
  animation-delay: .13s;
  -webkit-animation-delay: .13s;
}

#l15 {
  animation-delay: .14s;
  -webkit-animation-delay: .14s;
}
#l16 {
  animation-delay: .15s;
  -webkit-animation-delay: .15s;
}

#l17 {
  animation-delay: .17s;
  -webkit-animation-delay: .17s;
}

