.fade {
  animation-name: fade;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

.rotateBg {
  animation: rotateBg 7s infinite;
}

.hidden {
  opacity: 0;
  transition: 0.3s ease-in;
}

.unhide {
  opacity: 1;
  transition: 0.3s ease-in;
}

@keyframes rotateBg {
  0% {
    transform: rotate(-45deg)
  }

  100% {
    transform: rotate(45deg)
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}


// title text-rotateanimation"
     
@keyframes textAnim {
  0% {
    font-size: 70px;
    fill: white;
  }

  10% {
    font-size: 90px;
    fill: red;
  }

  40% {
    font-size: 60px;
    fill: white;
  }

  100% {
    font-size: 70px;
    fill: white;
  }
}

@-webkit-keyframes textAnim {
  0% {
    font-size: 80px;
    fill: white;
  }

  10% {
    font-size: 100px;
    fill: red;
  }

  40% {
    font-size: 70px;
    fill: orange;
  }

  100% {
    font-size: 80px;
    fill: white;
  }
}

text tspan {
  font-family: Raleway;
  font-weight: 900;
  animation: textAnim 2s ease forwards;
  -webkit-animation: textAnim 2s ease forwards;
}

#l1 {
  animation-delay: 1.0s;
  -webkit-animation-delay: 1.0s;
}

#l2 {
  animation-delay: 1.1s;
  -webkit-animation-delay: 1.1s;
}

#l3 {
  animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}

#l4 {
  animation-delay: 1.3s;
  -webkit-animation-delay: 1.3s;
}

#l5 {
  animation-delay: 1.4s;
  -webkit-animation-delay: 1.4s;
}

#l6 {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}

#l7 {
  animation-delay: 1.6s;
  -webkit-animation-delay: 1.6s;
}

#l8 {
  animation-delay: 1.7s;
  -webkit-animation-delay: 1.7s;
}




