.heading-primary {
  font-size: 3rem;

  &--main {
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(phone) {
      font-size: 2rem;
    }
  }

  &--sub {
    animation-name: moveInRight;
    animation-duration: 2.5s;
    animation-delay: 2.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
  }
}

.soft-skills {
  margin: 5rem 0 2rem 0;

  &__text {
    font-size: 1.5rem;
  }
}

.projects-text {
  max-width: 80%;
  margin: auto;
  font-size: 1.5rem;
}

.about-sub {
  padding: 1rem;
  font-size: 20px;
  color: $color-primary-dark;
}
