.u-center-text {
  text-align: center;
}

.u-border-top {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  border-top: 1px solid #000;
}

.u-clip-path-skills {
  clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0 100%);
  @include respond(tab-port) {
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0 100%);
  }
  @include respond(phone) {
    clip-path: polygon(0% 7%, 100% 0%, 100% 100%, 0 100%);
  }
}

.u-clip-path-about {
  clip-path: polygon(0% 10%, 100% 0, 100% 100%, 0 90%);
}

.u-filter-invert {
  filter: invert(100%);
}
