

.background-light {
  background: $color-bg-light !important;
  color: $color-grey-cv !important;
  background-size: 100vw !important;
}

.background-orange {
  background: $color-orange !important;
  color: $color-black !important;
  background-size: cover;
}

.unSkew {
  transform: skewy(5deg);
}

.skew {
  transform: skewy(-5deg);
}
